<%= render 'sidebar' %>
<div id='calendar'></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Создать новый ивент</h4>
			</div>
			<div class="modal-body">
				<%= form_for @period  do |f| %>

					<div class='form-group'>
						<%= f.label :course_id, 'Курс:', class: 'control-label' %><br>
						<%= f.collection_select :course_id, Course.all, :id, :name, {:prompt => true}, class: 'form-control' %>
					</div>

					<div class='form-group'>
						<%= f.label :group_id, 'Группа:', class: 'control-label' %><br>
						<%= f.grouped_collection_select :group_id, Course.all, :groups, :name , :id, :name, {include_blank: 'Выберите Группу'}, class: 'form-control' %>
					</div>

					<div class='form-group'>
						<%= f.label :course_elements_id, 'Тема:', class: 'control-label' %><br>
						<%= f.collection_select :course_elements_id, CourseElement.all, :id, :theme, {}, class: 'form-control' %>
					</div>



					<div class='form-group'>
						<%= f.label :title, 'Название:', class: 'control-label'%><br>
						<%= f.text_field :title, class: 'form-control'%>
					</div>

					<div class='form-group'>
						<%= f.label :commence_datetime, 'Начало:', class:'control-label'%><br>
						<%= f.datetime_select :commence_datetime , class: 'form-control'%>
					</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<%= f.submit 'Save', class: 'btn btn-primary' %>
					</div>
				<% end %>
				</div>
	</div>
</div>