<%= render 'sms_deliveries/sidebar_sms_deliveries' %>

<p><%= link_to 'Новый лист', new_contact_list_path, class: 'btn btn-default margin-bottom' %></p>

<table class="table table-striped table-hover col-sm-12">
  <tr>
    <th class="col-sm-6">Название</th>
    <th class="col-sm-6">Действия</th>
  </tr>
  <% @contact_lists.each do |list| %>
      <tr>
        <td><%= link_to list.title, contact_list_path(list) %></td>
        <td>
          <%= link_to '<i class="fa fa-envelope-o fa-lg"></i>'.html_safe, sms_new_from_contact_list_path(list), class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_contact_list_path(list), class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe, contact_list_path(list), method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить этот лист получателей?'}, class: 'btn btn-danger btn-xs'  %>
        </td>
      </tr>
  <% end %>
</table>
