<%= render 'sidebar_course_elements' %>
    <p><%= link_to 'Новый учебный блок',
                   new_course_element_path,
                   class: 'btn btn-default margin-bottom' %></p>

    <table class="table table-striped table-hover col-sm-12">
      <tr>
        <th class="col-sm-2">Тема</th>
        <th class="col-sm-2">Тип</th>
        <th class="col-sm-2">Действия</th>
      </tr>
      <% @course_elements.each do |course_element| %>
          <tr>
            <td><%= course_element.theme %></td>
            <td><%= course_element.element_type %></td>
            <td>
              <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe,
                          edit_course_element_path(course_element),
                          class: 'btn btn-default btn-xs' %>
              <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe,
                          course_element_path(course_element),
                          method: :delete,
                          data: {confirm: 'Вы действительно хотите удалить данный учебный блок?'},
                          class: 'btn btn-danger btn-xs' %>
            </td>
          </tr>
      <% end %>
    </table>