<%= render 'users/sidebar_users' %>
<%= form_for @group, html: {class: 'from-horizontal'} do |f| %>

    <div class="form-group col-sm-12">
      <%= f.label :name, value: 'Имя*', class: 'col-sm-3 control-label' %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control' %>
        <%= render 'shared/field_errors', object: @group, field_name: :name %>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <%= f.label :login, value: 'Курс*', class: 'col-sm-3 control-label' %>
      <div class="col-sm-6">
        <%= f.collection_select :course_id, Course.all.order(created_at: :desc), :id, :name, {}, class: 'form-control' %>
      </div>
    </div>


    <div class="form-group col-sm-12">
      <div class="col-sm-offset-3 col-sm-6">
        <%= f.submit 'Сохранить', class: 'btn btn-default' %>
      </div>
    </div>

<% end %>