
<%= render 'users/sidebar_users' %>

<p><%= link_to 'Создать группу', new_group_path, class: 'btn btn-default margin-bottom' %></p>

<table class="table table-striped table-hover col-sm-12">
  <tr>
    <th>Пользователь</th>
    <th>Действия</th>
  </tr>

  <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_group_path(group), class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe, group_path(group), method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить данную группу?'}, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
</table>
<div class="row">
  <div class="col-sm-12">
    <%= will_paginate @groups %>
  </div>
</div>
