<%= render 'users/sidebar_users' %>
<p><%= link_to 'Добавить пользователя', new_user_path, class: 'btn btn-default margin-bottom' %></p>
<%= link_to '<i class="fa fa-graduation-cap fa-lg"></i>'' Студенты'.html_safe,  students_path, class:'btn btn-default margin-bottom' %>



<table class="table table-striped table-hover col-sm-12">
  <tr>
    <th>Пользователь</th>
    <th>Статус</th>
    <th>Действия</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.full_name, user_path(user) %></td>
        <td>
          <%= user.roles.map { |role| role.name }.join(', ') %>
        </td>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_user_path(user), class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe, user_path(user), method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить данного пользователя?'}, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
</table>
<div class="row">
  <div class="col-sm-12">
    <%= will_paginate @users %>
  </div>
</div>
