<%= render 'users/sidebar_users' %>

<!--<p><%= link_to 'Добавить студента', new_user_path, class: 'btn btn-default margin-bottom' %></p>-->

<table class="table table-striped table-hover col-sm-12">
  <tr>
    <th>Студент</th>
    <th>Действия</th>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, user_path(student) %></td>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_user_path(student), class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe, user_path(student), method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить данного студента?'}, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
</table>
<div class="row">
  <div class="col-sm-12">
    <%= will_paginate @students %>
  </div>
</div>
