<h1 class="text-center">Восстановление пароля</h1>
<hr/>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: 'col-sm-4 control-label' %>
    <div class="col-sm-5">
      <%= f.email_field :email, autofocus: true, class: 'form-control'%>
      <%= render 'shared/field_errors', object: resource, field_name: :email %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-5">
      <%= f.submit 'Восстановить', class: 'btn btn-default', id:'button' %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-offset-4 col-sm-5">
    <%= render 'devise/shared/links' %>
  </div>
</div>


