<h1 class="text-center">Вход в систему</h1>
<hr/>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: 'col-sm-4 control-label' %>
    <div class="col-sm-5">
      <%= f.email_field :email, autofocus: true, class: 'form-control'%>
      <%= render 'shared/field_errors', object: resource, field_name: :email %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Пароль', class: 'col-sm-4 control-label' %>
    <div class="col-sm-5">
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      <%= render 'shared/field_errors', object: resource, field_name: :password %>
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-5">
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %> Запомнить меня
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-5">
      <%= f.submit 'Войти', class: 'btn btn-default', id:'button' %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-offset-4 col-sm-5">
    <%= render 'devise/shared/links' %>
  </div>
</div>
