<%= render 'users/sidebar_users' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Курс: <%= @course.name %></h3>
  </div>
  <div class="panel-body">
		<% @course.course_elements.each do |ce| %>
		<div>
			<%= ce.theme %>
		</div>
		<% end %>
		<hr>
		<p>
			<b>Начинается:</b><br />
			<%= @course.starts_at %>
		</p>
		<p>
			<b>Заканчивается:</b><br />
			<%= @course.starts_at %>
		</p>
  </div>
</div>