<%= render 'sms_deliveries/sidebar_sms_deliveries' %>

<%= form_for @sms_service_account, class: 'form-horizontal' do |f| %>

	<div class="form-group col-sm-12">
		<%= f.label :login, value: 'Логин', class: 'col-sm-2 control-label' %>
		<div class="col-sm-6">
			<%= f.text_field :login, autofocus: true, class: 'form-control' %>
		</div>
		<%= render 'shared/field_errors', object: @sms_service_account, field_name: :login %>
	</div>

	<div class="form-group col-sm-12">
		<%= f.label :password, value: 'Пароль', class: 'col-sm-2 control-label' %>
		<div class="col-sm-6">
			<%= f.password_field :password, class: 'form-control' %>
			<%= render 'shared/field_errors', object: @sms_service_account, field_name: :password %>
		</div>
	</div>
	<%= f.fields_for :senders do |sender| %>
		<div class="form-group col-sm-12">
			<%= sender.label :name, value: 'Имя отправителя', class: 'col-sm-2 control-label' %>
			<div class="col-sm-6">
				<%= sender.text_field :name, class: 'form-control' %>

			</div>
		</div>
	<% end %>
	<div class="form-group col-sm-12">
		<div class="col-sm-offset-2 col-sm-6">
			<%= f.submit 'Сохранить', class: 'btn btn-primary' %>
		</div>
	</div>

<% end %>