<%= render 'sms_deliveries/sidebar_sms_deliveries' %>

<p><%= link_to 'Новая учетная запись', new_sms_service_account_path, class: 'btn btn-default margin-bottom' %>
	<%= link_to 'Добавить отправителя', new_sender_path, class: 'btn btn-default margin-bottom' %></p>
<p></p>
<table class="table table-striped table-hover col-sm-12">
  <tr>
    <th class="col-sm-3">Логин</th>
    <th class="col-sm-2">Пароль</th>
    <th class="col-sm-2">Отправители</th>
    <th class="col-sm-3">Действия</th>
  </tr>
  <% @sms_service_accounts.each do |account| %>
      <tr>
        <td><%= link_to account.login, sms_service_account_path(account) %></td>
        <td><%= account.password %></td>
        <td>
          <% account.senders.each do |sender| %>
              <p><%= sender.name %></p>
          <% end %>
        </td>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_sms_service_account_path(account), class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe, sms_service_account_path(account), method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить данную учетную запись?'}, class: 'btn btn-danger btn-xs'  %>
        </td>
      </tr>
  <% end %>
</table>