@import "bootstrap";
@import "bootstrap-sprockets";
//@import 'bootstrap/theme';

@import "custom";
@import "dropzone";
@import "users";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'fullcalendar';
@import "sign_in";

@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);