.sign-in {
  font-family: 'Comfortaa', cursive;
}

#button.btn-default {
  color: white;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Comfortaa', cursive;
  background: -moz-linear-gradient(-45deg, rgba(18,38,47,1) 0%, rgba(18,38,47,1) 1%, rgba(26,58,69,0.99) 25%, rgba(26,58,69,0.98) 67%, rgba(18,38,47,0.97) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(18,38,47,1) 0%,rgba(18,38,47,1) 1%,rgba(26,58,69,0.99) 25%,rgba(26,58,69,0.98) 67%,rgba(18,38,47,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(18,38,47,1) 0%,rgba(18,38,47,1) 1%,rgba(26,58,69,0.99) 25%,rgba(26,58,69,0.98) 67%,rgba(18,38,47,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12262f', endColorstr='#f712262f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.sign-in a {
  color: white;
}
