.my-avatar {
  margin: 10px 0 20px 25px;
}

.user-photo {
  margin: 0 auto;
}

.user-info {
  margin: 0 auto;
}

.panel .panel-body {
  // background-color: rgb(250, 247, 196);
  // background-color: rgb(254, 231, 164);
  //background-color: #99cc66;
  background-color: #F5F5F5;
}

.panel .panel-heading {
  background-color: #222222;
}

.panel-title {
  color: #BDBDBD;
}


.panel .panel-heading span{
  color: #999999;
  margin-right: 10px;
}

.my-profile-info .panel .panel-body{
  height: 480px;
}

.panel .panel-body .table td,
.panel .panel-body .table th {
  border-top: none;
  //border-bottom: 1px solid white;
}

p.normal label {
  font-weight: normal;
}

/* Wrappers */

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 80%;
  margin-left: 240px;
  padding: 5px 15px;
}

/* Side Nav */

.side-nav {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  position: fixed;
  top: 50px;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: #222222;
  overflow-y: auto;
}

.side-nav>li>a {
  width: 200px;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active {
  background-color: #080808;
}

.navbar-inverse .navbar-nav>li>a:active {
  // border-left: 7px solid rgb(0, 137, 155);
}

/* Submenu*/

.nav .nav-stacked>li>a {
  padding-left: 30px;
  color: #BDBDBD;
}

.nav .nav-stacked>li>a:hover,
.nav .nav-stacked>li>a:active{
  background-color: #363636;
}