<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">

    <div class="navbar-header">
      <%= link_to(image_tag("logo.png", :alt => 'Главная страница', :title => "Главная страница", class: "logo navbar-brand")) %>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to '<i class="fa fa-envelope-o fa-lg"></i> SMS'.html_safe, sms_deliveries_path %></li>
        <li><%= link_to '<i class="fa fa-users fa-lg"></i> Пользователи'.html_safe, users_path %></li>
        <li><%= link_to '<i class="fa fa-book fa-lg"></i> Учебная программа'.html_safe, course_elements_path %></li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <% if user_signed_in? %>

            <p class="navbar-text">
              <%= link_to current_user.full_name, show_user_path(current_user), class: 'navbar-link' %>
            </p>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Профиль<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Редактировать', edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
        <% else %>
            <ul class="nav navbar-nav">
              <li><%= link_to '<i class="fa fa-sign-in fa-lg"></i> Войти'.html_safe, new_user_session_path %></li>
            </ul>
        <% end %>
      </ul>
    </div>
	</div>
</nav>