<!DOCTYPE html>
<html>
<head>
  <title>StudentCrm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <%= render 'layouts/navbar' %>
  <div id="page-wrapper">
    <%= flash_messages %>

    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => '' %>
    </ol>

    <%= yield %>
  </div>
</div>
</body>
</html>